#body {
}

#main {
  background-color: #FFF;
  padding-bottom: 0;
}

#main .splash {
  min-height: 100vh;
  background-color: #FFF;
  background-image: url(../../imgs/splash-vertical-cropped.png);
  background-repeat: no-repeat;
  background-size: 130% auto;
  margin-left: -35%;
  height: 195vw;
  /*background-size: 100% auto;*/
}

.menu-link {
    background-image: url(../../imgs/menu-icon.png);
}

@media (min-width: 53em) {
  #main .splash {
    background-image: url(../../imgs/splash-big.png);
    background-size: contain;
    margin-left: 0;
    /*width: 100%;*/
    height: auto;
  }
}
