#body {
}

#main {
  background-color: #FFF;
}

#main .splash {
  min-height: 100vh;
  background-color: #FFF;
  background-image: url(../../imgs/splash-cropped.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 100% auto;*/
}


/*19/10*/

@media (max-aspect-ratio: 10/7) and (max-width: 48em) {
  #main .splash {
    background-image: url(../../imgs/splash-vertical-extreme.png);
    background-size: cover;
    /*min-width: 30em;*/
    height: 200vw;
  }
}

@media (max-aspect-ratio: 40/43) and (max-width: 48em) {
  #main .splash {
    background-image: url(../../imgs/splash-vertical-extreme.png);
    background-size: cover;
    /*min-height: 38em;*/
    min-height: 200vw;
    height: 100vh;
    width: auto;
    margin-left: -.25em;
  }
}

@media (min-aspect-ratio: 40/43) and (max-width: 48em) {
  #main .splash {
    background-image: url(../../imgs/splash-vertical-cropped.png);
    background-size: cover;
    height: 95vw;
  }
}

@media (min-aspect-ratio: 40/43) and (min-width: 48em) {
  #main .splash {
    background-image: url(../../imgs/splash-vertical-cropped.png);
    background-size: cover;
    height: 100vh;
  }
}

@media (min-aspect-ratio: 40/43) and (min-width: 53em) {
  #main .splash {
    background-image: url(../../imgs/splash-vertical-cropped.png);
    background-size: cover;
    height: 0;
    min-height: 80vw;
  }
}

@media (min-aspect-ratio: 16/12) and (min-width: 65em) {
  #main .splash {
    background-image: url(../../imgs/splash-vertical-cropped.png);
    background-size: cover;
    min-height: 80vw;
  }
}

@media (min-aspect-ratio: 30/16) and (min-width: 48em) {
  #main .splash {
    background-image: url(../../imgs/splash-big.png);
    background-size: cover;
    min-height: 100vh;
    height: 23em;
  }
}

@media (min-aspect-ratio: 27/16) and (min-width: 65em) {
  #main .splash {
    background-image: url(../../imgs/splash-big.png);
    background-size: cover;
    min-height: 100vh;
    height: 30em;
  }
}

@media (min-width: 80em) {
  #main .splash {
    background-image: url(../../imgs/splash-big.png);
    background-size: cover;
    height: 34em;
  }
}
