// body * {border: 1px solid red !important;}

$background-color: #aaa;

.d-b { display: block; }
.mb-0 { margin-bottom: 0; }
.mb-0-25em { margin-bottom: 0.25em; }
.mb-10px { margin-bottom: 10px; }
.mt-0 { margin-top: 0; }
.mt-0-5em { margin-top: 0.5em; }
.mt-10px { margin-top: 10px; }
.mt-15px { margin-top: 15px; }
.m-c { margin-left: auto; margin-right: auto; }
.pb-10px { padding-bottom: 10px; }
.ta-c { text-align: center; }
.ta-l { text-align: left; }
.fl-l { float: left; }
// .mr-20px { margin-left: 20px; }

a {
  text-decoration: none;
  font-size: 2em;
  font-family: Times;
  color: blue;
}

html {
  overflow: hidden;
}

#page {
  position: absolute;
  // min-width: 633px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  overflow: scroll;
  background-color: $background-color;
}

#sidebar-container {
  float: left;
  margin-right: 20px;
  // height: 100%;
  // margin-right: 20px;

  & #sidebar {
    background-color: darken($background-color, 10%);
    a {
      color: white;
      // margin-top: 20px;
    }
  }
}

#main-container {
}

.social-link {
  display: inline-block;
  // margin-top: 5px;
  width: 42px;
  height: 42px;
  text-decoration: none;
}

.social-link-img {
  width: 42px;
  height: 42px;
}

.project {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  & img { margin-left: auto; margin-right: auto; }
  padding-right: 5%;
  padding-left: 5%;

}