body {
  background-color: lightgrey;
  position: relative;
  margin: 5% 5%;
  text-align: center;
}

div.two-column {
  position: relative;
  display: block;
  overflow: overlay;
  width: 100%;
  height: 100%;
}
div.two-column .c1 {
  position: relative;
  display: inline-block;
  float: left;
  width: 48%;
  margin-right: 2%;
}
div.two-column .c2 {
  position: relative;
  display: inline-block;
  float: right;
  width: 48%;
  margin-left: 2%;
}

/*section {
  text-align: left;
}*/

span.code {
  background-color: rgb(252, 241, 227);
  display: inline-block;
  text-align: left;
  padding: .25em;
  margin: .5em 0px .5em 0px;
}

em.comment {
  color: green;
  margin-left: 1em;
}