body {
  text-align: center;
}

#portrait {
  margin: auto auto;
  position: relative;
}

#portrait img {
  display: block;
  margin: 10px auto;
  width: 328px;
  height: 237px;
  /*width: 225px;
  height: 214px;*/
}

h1, h3 {
  margin: auto auto;
}